.navbar{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 12px 24px;
    background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar__img{
    height: 35px;
    border-radius: 8px;
    margin-right: 10px;
}

.navbar__left{
    
    display: flex;
    justify-content: space-evenly;
    margin-left :5px;
    
    
}